/.idea
/fairybook/__pycache__
__pycache__
/fairybook/modules/home/__pycache__
/fairybook/modules/users/__pycache__
/fairybook/modules/users/forms/__pycache__
/fairybook/modules/users/models/__pycache__
