{% extends "base.html" %}
{% block title %}python flask user page{% endblock %}
{% block head %}
    <style type="text/css"></style>
{% endblock %}
{% block content %}
    <form action="{{ url_for('account.login') }}" method="post">
        {% if error_message %}
            <label>{{ error_message }}</label><br />
        {% endif %}
        账号：{{ form.accountNumber(size=20, maxlength=200) }}<label>{{ form.accountNumber.errors[0] }}</label><br/>
        密码：<input name="password" type="password"/><label>{{ form.password.errors[0] }}</label><br/>
        {{ form.hidden_tag() }}
        <button type="submit">登录</button>
    </form>
    <a href="/">返回</a>
{% endblock %}
