header {
    margin: 0;
    width: 100%;
    height: 400px;
    /*background-color: #333;*/ /*绿色#27AE60，蓝色#2D93CA*/
    background: url("../../img/background-header.jpg") 0px -180px;
    overflow: hidden;
    position: relative;
}

#inner-header {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

header h2 {
    padding: 80px 0 20px;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 56px;
    text-align: center;
    color: white;
    /*text-shadow: 1px 1px 5px #000;*/
}

header p {
    font-size: 1.1em;
    text-align: center;
    color: white;
    /*text-shadow: 1px 1px 5px #000;*/
}

nav {
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: white;
    z-index: 1;
    /*color: white;*/
    color: #000;
}

#search-form {
    margin-top: 30px;
}

.nav-left {
    float: left;
    color: red;
    /*margin-left: -20px;*/
}

.nav-right {
    float: right;
}

header a {
    /*color: white;*/
    color: #000;
}

header a:hover {
    /*color: white;*/
    color: #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #000;
    float: left;
    margin-left: 10px;
}

nav ul li img {
    width: 35px;
    height: 35px;
    margin-top: -5px;
}

#main {
    margin-top: 19px;
}

#main hr {
    margin-top: 0px;
    border-bottom: solid 1px #aaa;
}

/*************最新连载*************/
#new-title h2 {
    font-size: 2em;
}

#new-title h2 span {
    color: #4cae4c;
    font-size: 0.7em;
}

#new-title h2 small {
    font-size: 14px;
}

#new-title h2 a {
    color: red;
    font-size: 14px;
}

#new-content {
    margin-top: 10px;
    border: 0;
}

.new-content-inner {
    margin-top: 10px;
}

.new-content-inner img {
    width: 100%;
}

.book-list-title-name {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.book-list-title {
    font-size: 12px;
    color: #000;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.book-list-content {
    font-size: 12px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
}

/*************最新连载*************/
#week {
    margin-top: 60px;
    width: 100%;
    height: 600px;
    background-color: #e3e3e3;
}