{% extends "base.html" %}
{% block title %}永恒书屋{% endblock %}
{% block head %}
    <link href="/static/css/home/index.css?v=3.14" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <header>
        <div id="inner-header">
            <nav>
                <div class="container">
                    <div class="nav-left">
                        <span class="glyphicon glyphicon-home font-blue" aria-hidden="true"></span>
                        <a href="/">首页</a>　
                        <span class="glyphicon glyphicon-book font-red" aria-hidden="true"></span>
                        <a href="/book/list">作品</a>
                    </div>
                    <div class="nav-right">
                        {% if g.user and g.user.is_authenticated %}
                            <ul>
                                <li><img src="/static/upload/img/01.jpg" alt="..." class="img-circle"></li>
                                <li><a href="/user">{{ g.user.name }}</a></li>
                                <li>|</li>
                                <li><a href="/account/logout">注销</a></li>
                            </ul>
                        {% else %}
                            <span class="glyphicon glyphicon-user font-yellow" aria-hidden="true"></span>
                            <a href="/account/login">登录</a>
                            　|　
                            <span class="glyphicon glyphicon-pencil font-fuchsia" aria-hidden="true"></span>
                            <a href="/account/register">注册</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="content">
                <h2 id="title">永恒书屋</h2>
                <p>
                    方便地记录照片、文字、音乐、视频，适用于iPhone、iPad和Android移动客户端及PC端，
                    让你随时随地的记录与分享。
                </p>
            </div>
            <div id="search" class="container">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form id="search-form" role="search">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn" style="width: 105px;">
                                <select name="SearchType" class="form-control">
                                    <option>作品名称</option>
                                    <option>角色名字</option>
                                </select>
                            </span>
                                <input type="text" class="form-control" id="input-search" name="SearchContent"
                                       placeholder="请输入搜索内容，例如：Re:从零开始的异世界生活">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <div id="new-title" class="container">
            <h2 class="col-md-5 col-md-offset-4 text-center">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 最新连载
                <small>最新入库的作品 | <a href="/">更多</a></small>
            </h2>
        </div>
        {#<hr class="container"/>#}
        <div id="new-content" class="container-fluid">
            <div class="row">
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/01.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">Re：从零开始的异世界生活</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/02.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">1000000</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">约会大作战</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/03.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：碧之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/04.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：空之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/05.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：闪之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-2">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/06.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">伊苏·起源</div>
                    </a>
                </div>
            </div>
        </div>
        <div id="week">
            1
        </div>
    </div>
{% endblock %}