{% extends "base.html" %}
{% block title %}永恒书屋{% endblock %}
{% block head %}
    <link href="/static/css/home/index.css?v=0.02" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <header>
        {% include "nav.html" %}
        <div class="content">
            <h1 id="title">永恒书屋</h1>
            <p>
                方便地记录照片、文字、音乐、视频，适用于iPhone、iPad和Android移动客户端及PC端，
                让你随时随地的记录与分享。
            </p>
        </div>
        <div id="search" class="container">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form id="search-form" role="search" action="/book/list">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <select name="type" class="form-control">
                                    <option>作品名称</option>
                                    <option>角色名字</option>
                                </select>
                            </span>
                            <input type="text" class="form-control" id="input-search" name="keyword"
                                   placeholder="请输入搜索内容，例如：Re:从零开始的异世界生活">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div id="main">
        <div id="new-title" class="container text-center">
            <h2>今日放送</h2>
            <div class="text-center">
                <a class="font-red" href="/book/list">更多</a>
            </div>
        </div>
        <div id="new-content" class="container">
            <div class="row">
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/01.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">Re：从零开始的异世界生活</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/02.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">1000000</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">约会大作战</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/03.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：碧之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/04.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：空之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/05.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">英雄传说：闪之轨迹</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/06.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">300</span>
                            <span class="text-right float-right">2016-7-6</span>
                        </div>
                        <div class="book-list-title-name">伊苏·起源</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/07.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">752</span>
                            <span class="text-right float-right">2016-7-7</span>
                        </div>
                        <div class="book-list-title-name">东京迷城</div>
                    </a>
                </div>
                <div class="new-content-inner col-xs-6 col-lg-3">
                    <a href="/" class="book-list-title">
                        <img src="/static/upload/img/08.jpg" alt="..." class="img-responsive">
                        <div class="book-list-content">
                            <span class="glyphicon glyphicon-fire float-left book-list-content-icon" aria-hidden="true"
                                  title="点击数"></span>
                            <span class="text-left float-left" title="点击数">1917</span>
                            <span class="text-right float-right">2016-7-7</span>
                        </div>
                        <div class="book-list-title-name">刀剑神域</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            Copyright © 2016-2016 <a href="/">www.fairy.com</a>
        </div>
    </footer>
{% endblock %}