body, h2 {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
    color: #69606b;
    font-size: 14px;
}

a {
    color: #69606b;
}

a:hover {
    color: #69606b;
    text-decoration: none;
}

#container {
    /*display: none;*/
}

.font-blue {
    color: #2D93CA;
}

.font-red {
    color: red;
}

.font-yellow {
    color: #FF9900;
}

.font-fuchsia {
    color: fuchsia;
}