body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
    /*color: #69606b;
    font-size: 14px;*/
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#container {
    /*display: none;*/
}

.font-blue {
    color: #2D93CA;
}

.font-red {
    color: red;
}

.font-yellow {
    color: #FF9900;
}

.font-fuchsia {
    color: fuchsia;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}