body, input, textarea, h1, h2, h3, h4 {
    font-family: 'Source Sans Light', 'Apple LiSung Light', 'STHeiti Light', 'SimSun', sans-serif;
    /* Windows 下的非衬线中文字体黑体以及微软雅黑在大字号下都非常难看，无奈选用宋体↑ */
}

body, input, textarea {
    line-height: 1.5;
    font-size: 20px;
}

h3 {
    font-weight: bold;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.font-blue {
    color: #2D93CA;
}

.font-red {
    color: red;
}

.font-yellow {
    color: #FF9900;
}

.font-fuchsia {
    color: fuchsia;
}

.font-green {
    color: green;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}