{% extends "base.html" %}
{% block title %}注册新用户{% endblock %}
{% block head %}
    <style type="text/css"></style>
{% endblock %}
{% block content %}
    <form action="{{ url_for('account.register') }}" method="post">
        {% if get_flashed_messages() %}
            <ul>
                {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        账号：{{ form.accountNumber(size=20, maxlength=200) }}<label>{{ form.accountNumber.errors[0] }}</label><br/>
        密码：<input name="password" type="password"/><label>{{ form.password.errors[0] }}</label><br/>
        昵称：<input name="name" type="text"/><label>{{ form.name.errors[0] }}</label><br/>
        {{ form.hidden_tag() }}
        <button type="submit">注册</button>
    </form>
    <a href="/">返回</a>
{% endblock %}
